# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# OS-related files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp

# Optional: coverage reports and build artifacts
coverage/
dist/
build/

# Ignore environment files
.env

# Ignore specific HTML files
payment.html

# Ignore JavaScript files
genrateSignature.js
